<div class = "tourist-edit-laptop-width">
	<div class = "container">
		<div class = "row">
			<div class = "col-md-7 col-md-offset-3 col-xs-9 col-xs-offset-2">
				<h3 class = "flash"><%=flash[:notice]%></h3>
			</div>
			<div class = "col-xs-11">

			<!------- エラーメッセージ ------->
				<% if @tourist.errors.any? %>
					<div id="error_explanation">
						<h2><%= @tourist.errors.count %>件のエラーが発生しました。</h2>
						<ul>
							<% @tourist.errors.full_messages.each do |message| %>
								<li><%= message %></li>
							<% end %>
						</ul>
					</div>
				<% end %>
				<div class = "row">
					<div class = "col-xs-10 col-xs-offset-1">
						<% unless current_tourist.family_name.blank? or current_tourist.name.blank? or current_tourist.family_name.blank? or current_tourist.sex.blank? or current_tourist.birth_year.blank? or current_tourist.nationality.blank? or current_tourist.phone_number.blank? or current_tourist.address.blank? or current_tourist.postal_code.blank? %>
							<h2>登録情報変更</h2>
						<% else %>
							<h2>全ての項目を入力して予約できるようにしましょう</h2>
						<% end %>
					</div>
				</div>
				<%= form_for(@tourist, url: tourist_tourist_path(@tourist)) do |f| %>
					<table class = "table table-bordered">
					<!---- 氏名、生まれ年 ---->
						<tr class = "text-center">
							<td class = "active">お名前・国籍・生まれ年</td>
							<td>
								<%= f.label :姓 %><br/><%= f.text_field :family_name %>
							</td>
							<td>
								<%= f.label :名 %><br/><%= f.text_field :name %>
							</td>
							<td>
								<%= f.label :性別 %><br/><%= f.select :sex,[["女性", "女性"], ["男性", "男性"]], :prompt => "--性別--"  %>
							</td>
							<td>
								<%= f.label :生まれ年 %>(西暦)<br/><%= f.text_field :birth_year %>年
							</td>
						</tr>


					<!---- 住所、国籍 ---->
						<tr class = "text-center">
							<td class = "active">国籍・電話番号・住所</td>
							<td>
								<%= f.label :国籍 %><br/><%= f.text_field :nationality %>
							</td>
							<td>
								<%= f.label :電話番号 %><br/><%= f.text_field :phone_number %>
							</td>
							<td>
								<%= f.label :郵便番号 %><br/><%= f.text_field :postal_code %>
							</td>
							<td>
								<%= f.label :住所 %><br/><%= f.text_field :address %>
							</td>
						</tr>

					<!---- メアド ---->
						<tr class = "text-center">
							<td class = "active">メールアドレス</td>
							<td>
								<%= f.label :メールアドレス %><br/><%= f.text_field :email %>
							</td>
						</tr>
					</table>
					<div class = "row">
						<div class = "col-xs-3">
							<div class="actions">
								<%= f.submit "情報更新", class: "btn btn-success btn-lg" %>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>



<div class = "tourist-edit-phone-width">
	<div class = "container">
		<div class = "row">
			<div class = "col-xs-9 col-xs-offset-2">
				<h3 class = "flash"><%=flash[:notice]%></h3>
			</div>
			<div class = "col-xs-11">

			<!------- エラーメッセージ ------->
				<% if @tourist.errors.any? %>
					<div id="error_explanation">
						<h3><%= @tourist.errors.count %>件のエラーが発生しました。</h3>
						<ul>
							<% @tourist.errors.full_messages.each do |message| %>
								<li><%= message %></li>
							<% end %>
						</ul>
					</div>
				<% end %>
				<div class = "row">
					<div class = "col-xs-10 col-xs-offset-1">
						<% unless current_tourist.family_name.blank? or current_tourist.name.blank? or current_tourist.family_name.blank? or current_tourist.sex.blank? or current_tourist.birth_year.blank? or current_tourist.nationality.blank? or current_tourist.phone_number.blank? or current_tourist.address.blank? or current_tourist.postal_code.blank? %>
							<h2>登録情報変更</h2>
						<% else %>
							<h2>全ての項目を入力して予約できるようにしましょう</h2>
						<% end %>
					</div>
				</div>
				<%= form_for(@tourist, url: tourist_tourist_path(@tourist)) do |f| %>
					<div class = "tour-edit-form">
						<p>姓</p>
						<p>
							<%= f.text_field :family_name %>
						</p>
					</div>
					<div class = "tour-edit-form">
						<p>名</p>
						<p>
							<%= f.text_field :name %>
						</p>
					</div>
					<div class = "tour-edit-form">
						<p>
							<%= f.label :性別 %><br/><%= f.select :sex,[["女性", "女性"], ["男性", "男性"]], :prompt => "--性別--"  %>
						</p>
					</div>
					<div class = "tour-edit-form">
						<p>国籍</p>
						<p>
							<%= f.text_field :nationality %>
						</p>
					</div>
					<div class = "tour-edit-form">
						<p>生まれ年</p>
						<p>
							<%= f.text_field :birth_year %>年
						</p>
					</div>
					<div class = "tour-edit-form">
						<p>電話番号</p>
						<p>
							<%= f.text_field :phone_number %>
						</p>
					</div>
					<div class = "tour-edit-form">
						<p>郵便番号</p>
						<p>
							<%= f.text_field :postal_code %>
						</p>
					</div>
					<div class = "tour-edit-form">
						<p>住所</p>
						<p>
							<%= f.text_field :address %>
						</p>
					</div>
					<div class = "tour-edit-form">
						<p>メールアドレス</p>
						<p>
							<%= f.text_field :email %>
						</p>
					</div>
					<div class = "row">
						<div class = "col-xs-3">
							<div class　=　"actions">
								<%= f.submit "情報更新", class: "btn btn-success btn-lg" %>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

