<div class = "container">
	<div class = "row">
		<h1 class = "book-mark-index-headline">ブックマーク一覧</h1>
	</div>
	<div class = "row">
	<!------- ブックマークが０だった場合 ------->
		<% if @book_marks.count == 0  %>
			<h1>気になったツアーをブックマーク登録しましょう！</h1>
			<h1>
				<%= link_to "ツアー情報ページ", tourist_tourist_tours_path(current_tourist), class: "btn btn-success btn-lg" %>
			</h1>

	<!------- ブックマークがあった場合 ------->
		<% else %>
			<div class = "application-wrapper">
				<div class = "container">
					<div class = "book-mark-tour-box">
						<div class = "row">
							<% @book_marks.each do |book_mark| %>
								<div class = "col-md-4 col-xs-12">
									<%= link_to tourist_tourist_tour_path(current_tourist, book_mark.tour) do %>
										<div class = "tours-info-box clearfix">
											<%= attachment_image_tag book_mark.tour.tour_photos[0], :image, size: "300x280", format: 'jpeg', class: "tours-image" %>
											<div class = "tours-info-text">
												<h4><%= book_mark.tour.title %></h4>
												<h4><%= book_mark.tour.city.name %></h4>
												<h4>￥<%= number_with_delimiter(book_mark.tour.price) %></h4>
											</div>
										</div>
									<% end %>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>


