<div class = "container">
	<div class = "row">
		<h1 class = "col-md-4 col-xs-8">ブックマーク一覧</h1>
		<h2><%= link_to "もどる", tourist_tourist_path(current_tourist), class: "btn btn-default btn-lg col-md-2 col-md-offset-1 col-xs-3" %></h2>
	</div>
	<div class = "row">
	<!------- ブックマークが０だった場合 ------->
		<% if @book_marks.count == 0  %>
			<h1>気になったツアーをブックマーク登録しましょう！</h1>
			<h1>
				<%= link_to "ツアー情報ページ", tourist_tourist_tours_path(current_tourist), class: "btn btn-success btn-lg" %>
			</h1>

	<!------- ブックマークがあった場合 ------->
		<% else %>
			<div class = "container">
				<div class = "reserved-tour-box">
					<div class = "row">
						<% @book_marks.each do |book_mark| %>
							<div class = "col-md-4 col-xs-12">
								<div class = "reserved-tour clearfix">
									<% tour = Tour.find_by(id: book_mark.tour_id) %>
									<%= attachment_image_tag book_mark.tour.tour_photos[0], :image, :fill, 300, 280, format: 'jpeg', class: "book-mark-tour-image" %>
									<div class = "book-mark-tour-text">
										<h4><%= book_mark.tour.city.name %></h4>
										<h4><%= book_mark.tour.time %></h4>
									</div>
									<div class = "book-mark-tour-link">
										<h3><%= link_to "ツアー詳細へ", tourist_tourist_tour_path(current_tourist, book_mark.tour_id), class: "btn btn-default btn-warning" %></h3>
									</div>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>