<div class = "container">
	<div class = "row">
		<div class = "col-xs-8">
			<h3><%= @room.guide.name %>さんと<%= @room.tourist.name %>のチャットルーム</h3>

		<!------ チャットルーム ------>
			<div class = "chat-field">
			  <% @messages.each do |message| %>
			    <!-- メッセージがtouristによるものだったら、メッセージを右に寄せる -->
			    <% if message.is_tourist %>
			      <div class = "text-right">
			        	<h4 class = "message bg-info"><%= message.content %>  :<%= message.room.tourist.name %>さん(ツーリスト)</h4>
			      </div>

			    <!-- メッセージがguideによるものだったら、メッセージを左に寄せる -->
			    <% else %>
			    	<div class = "text-left  bg-warning">
			    	  	<h4><%= message.room.guide.name %>さん(ガイド):  <%= message.content %></h4>
			    	</div>
			    <% end %>
			  <% end %>
			</div>
		</div>
	</div>
</div>