<div class = "container">
	<div class = "row">
		<div class = "col-md-8 col-md-offset-1 col-xs-11 col-xs-offset-1">
			<h2 class = "rooms-index-title">メッセージルーム一覧</h2>
	<!------ ツーリストログイン時 ------>
			<% @rooms.each do |room| %>
				<div class = "chat-index-box clearfix">
          <% if tourist_signed_in? %>
            <%= link_to tourist_tourist_room_path(current_tourist, room) do %>
                <%= render "partial/room_chat_notice", room: room %>
              <div class = "col-md-6 col-xs-12">
                <h4><%= room.guide.family_name %> <%= room.guide.name %>さん</h4>
              </div>
              <%= render "partial/room_latest_chat", room: room %>
            <% end %>


    <!------ ガイドログイン時 ------>
          <% elsif guide_signed_in? %>
            <%= link_to guide_guide_room_path(current_guide, room) do %>
              <%= render "partial/room_chat_notice", room: room %>
              <div class = "col-md-6 col-xs-12">
                <% if room.tourist.family_name.nil? or room.tourist.name.nil? %>
                  <h4>名無しさん</h4>
                <% else %>
                  <h4><%= room.tourist.family_name %> <%= room.tourist.name %>さん</h4>
                <% end %>
              </div>
              <%= render "partial/room_latest_chat", room: room %>
            <% end %>
          <% end %>
				</div>
			<% end %>
			<%= paginate rooms, class: "paginate" %>
		</div>
	</div>
</div>

