<%# ----- ツアー詳細ページの写真 ----- %>
<div class = "tour-images-width-laptop">
	<div class = "slick-box">
		<div class = "slick-img">
			<%= attachment_image_tag tour_photos[0], :image, size: "900x460", format: 'jpeg', class: "tour-img" %>
		</div>
		<div class = "slick-img">
			<%= attachment_image_tag tour_photos[1], :image, size: "900x460", format: 'jpeg', class: "tour-img" %>
		</div>
		<div class = "slick-img">
			<%= attachment_image_tag tour_photos[2], :image, size: "900x460", format: 'jpeg', class: "tour-img" %>
		</div>
		<div class = "slick-img">
			<%= attachment_image_tag tour_photos[3], :image, size: "900x460", format: 'jpeg', class: "tour-img" %>
		</div>
		<div class = "slick-img">
			<%= attachment_image_tag tour_photos[4], :image, size: "900x460", format: 'jpeg', class: "tour-img" %>
		</div>
	</div>
</div>


<div class = "tour-images-width-phone">
	<div class = "slick-box">
		<div class = "slick-img">
			<%= attachment_image_tag tour_photos[0], :image, size: "768x400", format: 'jpeg', class: "tour-img" %>
		</div>
		<div class = "slick-img">
			<%= attachment_image_tag tour_photos[1], :image, size: "768x400", format: 'jpeg', class: "tour-img" %>
		</div>
		<div class = "slick-img">
			<%= attachment_image_tag tour_photos[2], :image, size: "768x400", format: 'jpeg', class: "tour-img" %>
		</div>
		<div class = "slick-img">
			<%= attachment_image_tag tour_photos[3], :image, size: "768x400", format: 'jpeg', class: "tour-img" %>
		</div>
		<div class = "slick-img">
			<%= attachment_image_tag tour_photos[4], :image, size: "768x400", format: 'jpeg', class: "tour-img" %>
		</div>
	</div>
</div>

<%= javascript_include_tag 'slideshow.js' %>