<div class = "container">
	<div class = "row">
			<h1 class = "col-xs-4 col-xs-offset-1 genre_name"></h1>
	</div>
	<div class = "row">
	<%# ----- ツアー写真一覧 ----- %>
		<% tours.each do |tour| %>
			<% if tour.is_active == true %>
				<div class = "col-xs-4">
					<div class = "tours-phots-box">
						<% tour_photos = tour.tour_photos %>
						<% if tourist_signed_in? %>
							<%= link_to tourist_tour_path(tour) do %>
								<%= render 'partial/tours_photos_link', tour_photos: tour_photos, tour: tour %>
							<% end %>
						<% elsif guide_signed_in? %>
							<%= link_to guide_tour_path(tour) do %>
								<%= render 'partial/tours_photos_link', tour_photos: tour_photos, tour: tour %>
							<% end %>
						<% elsif admin_signed_in? %>
							<%= link_to admin_tour_path(tour) do %>
								<%= render 'partial/tours_photos_link', tour_photos: tour_photos, tour: tour %>
							<% end %>
						<% else %>
							<%= link_to home_tour_path(tour) do %>
								<%= render 'partial/tours_photos_link', tour_photos: tour_photos, tour: tour %>
							<% end %>
						<% end %>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
	<%= paginate tours, class: "paginate" %>
</div>