<%# ----- ツアー詳細ページの写真 ----- %>
<div class = "tour-images-width-laptop">
	<div class = "slick-box">
		<div class = "slick-img">
			<%= attachment_image_tag tour_photos[0], :image, :fill, 900, 460, format: 'jpeg', class: "tour-img" %>
		</div>
		<div class = "slick-img">
			<%= attachment_image_tag tour_photos[1], :image, :fill, 900, 460, format: 'jpeg', class: "tour-img" %>
		</div>
		<div class = "slick-img">
			<%= attachment_image_tag tour_photos[2], :image, :fill, 900, 460, format: 'jpeg', class: "tour-img" %>
		</div>
		<div class = "slick-img">
			<%= attachment_image_tag tour_photos[3], :image, :fill, 900, 460, format: 'jpeg', class: "tour-img" %>
		</div>
		<div class = "slick-img">
			<%= attachment_image_tag tour_photos[4], :image, :fill, 900, 460, format: 'jpeg', class: "tour-img" %>
		</div>
	</div>
</div>
<div class = "tour-images-width-phone">
	<div class = "slick-box">
		<%= attachment_image_tag tour_photos[0], :image, :fill, 320, 300, format: 'jpeg', class: "tour-img" %>
		<%= attachment_image_tag tour_photos[1], :image, :fill, 320, 300, format: 'jpeg', class: "tour-img" %>
		<%= attachment_image_tag tour_photos[2], :image, :fill, 320, 300, format: 'jpeg', class: "tour-img" %>
		<%= attachment_image_tag tour_photos[3], :image, :fill, 320, 300, format: 'jpeg', class: "tour-img" %>
		<%= attachment_image_tag tour_photos[4], :image, :fill, 320, 300, format: 'jpeg', class: "tour-img" %>
	</div>
</div>

<%= javascript_include_tag 'slideshow.js' %>