<div class = "container">
	<div class = "row">
		<% if @genre %>
			<h1 class = "col-md-4 col-md-offset-1 genre_name"><%= @genre.name %></h1>
		<% else %>
			<h1 class = "col-md-4 col-md-offset-1 genre_name"></h1>
		<% end %>
	</div>
	<div class = "row">
		<div class = "news-slick">
			<% news.each do |news| %>
				<% if news.action == "update" %>
					<h2 class = "news-text">
						<%= news.guide.name %>さんが
						<%= render 'partial/news_text', news: news %>
						を更新しました
						<span class = "news-created-at"><%= time_ago_in_words(news.created_at) %> 前</span>
					</h2>
				<% elsif news.action == "create" %>
					<h2 class = "news-text">
						<%= news.guide.name %>さんが
						<%= render 'partial/news_text', news: news %>
						を新しく始めました
						<span class = "news-created-at"><%= time_ago_in_words(news.created_at) %> 前</span>
					</h2>
				<% elsif news.action == "review" %>
					<h2 class = "news-text">
						<%= news.tourist.name %>さんが
						<%= render 'partial/news_text', news: news %>
						のレビューをしました
						<span class = "news-created-at"><%= time_ago_in_words(news.created_at) %> 前</span>
					</h2>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class = "row">
	<%# ----- ツアー写真一覧 ----- %>
		<% tours.each do |tour| %>
			<% if tour.is_active == true %>
				<div class = "col-md-4 col-xs-12">
					<div class = "tours-phots-box">
						<% tour_photos = tour.tour_photos %>
						<% if tourist_signed_in? %>
							<%= link_to tourist_tourist_tour_path(current_tourist, tour) do %>
								<%= render 'partial/tours_photos_link', tour: tour %>
							<% end %>
						<% elsif guide_signed_in? %>
							<%= link_to guide_guide_tour_path(current_guide, tour) do %>
								<%= render 'partial/tours_photos_link', tour: tour %>
							<% end %>
						<% elsif admin_signed_in? %>
							<%= link_to admin_tour_path(tour) do %>
								<%= render 'partial/tours_photos_link', tour: tour %>
							<% end %>
						<% else %>
							<%= link_to home_tour_path(tour) do %>
								<%= render 'partial/tours_photos_link', tour: tour %>
							<% end %>
						<% end %>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
	<%= paginate tours, class: "paginate" %>
</div>

<%= javascript_include_tag 'news_slick.js' %>