<div class = "container">
	<% if admin_signed_in? %>
		<div class = "row">
			<%= form_for(@tour, url: admin_tour_path(@tour)) do |f| %>
				<div class = "col-md-8 col-md-offset-4">
					<% if @tour.is_active == true %>
						<span class = "col-md-2 admin_tour_status">
							<%= f.radio_button :is_active, true , checked: true %>
							<%= f.label :is_active, "販売" %>
						</span>
						<span class = "admin_tour_status">
							<%= f.radio_button :is_active, false, checked: false %>
							<%= f.label :is_active, "販売停止" %>
						</span>
				    <% else %>
						<span class="col-md-2 admin_tour_status">
							<%= f.radio_button :is_active, true , checked: false %>
							<%= f.label :is_active, "販売" %>
						</span>
						<span class = "admin_tour_status">
							<%= f.radio_button :is_active, false, checked: true %>
							<%= f.label :is_active, "販売停止" %>
						</span>
					<% end %>
					<span>
						<%= f.submit "更新", class: "btn btn-success btn-lg" %>
					</span>
				</div>
			<% end %>
		</div>
	<% end %>
	<div class = "row">

<%# ------- ツアー内容説明 -------- %>
		<div class = "row">
			<div class = "col-md-8 col-md-offset-4 col-xs-12">
				<h2 class = "guide-tour-title"><%= tour.title %></h2>
			</div>
		</div>
		<div class = "row">
			<div class = "col-md-4 col-xs-12">
				<div class = "guide-body-title">
					<h2>ツアー内容</h2>
				</div>
			</div>
			<div class = "col-md-8 col-xs-12">
				<h4 class = "guide-body-text"><%= tour.body %></h4>
			</div>
		</div>
	</div>


<%# ------- ツアーガイド紹介 -------- %>
	<div class = "row">
		<div class = "guide-tour-details">
			<div class = "col-md-4 col-xs-12">
				<div class = "guide-body-title">
					<h2>ガイド紹介</h2>
					<div class = "guide-introduction-text">
						<%= attachment_image_tag tour.guide, :selfy_image, :fill, 130, 130, format: 'jpeg' %>
						<h4 class = "guide-name">
							<strong><%= tour.guide.family_name %> <%= tour.guide.name %></strong>
						</h4>
					</div>
				</div>
			<%# ------- チャットルーム -------- %>
				<% if tourist_signed_in? %>
					<div class = "chat-room-btn">
						<% if guide_ids.include?(tour.guide.id) %>
							<%= link_to "質問しましょう！", tourist_tourist_room_path(current_tourist, current_tourist.rooms.find_by(guide_id: tour.guide.id)), class: "btn btn-lg btn-warning" %>
						<% else %>
						    <%= form_for(Room.new, url: tourist_tourist_rooms_path(current_tourist)) do |f| %>
						    	<%= f.hidden_field :guide_id, :value => tour.guide.id %>
						    	<%= f.submit "質問しましょう！", class: "btn btn-lg btn-warning" %>
						    <% end %>
						<% end %>
					</div>
				<% end %>
			</div>
			<div class = "col-md-8 col-xs-12">
				<div class = "tour-body-wrapper">
					<h4 class = "guide-body-text"><%= tour.guide.introduction %></h4>
				</div>
			</div>
		</div>
	</div>



<%# ----------- 集合場所 ------------ %>
	<div class = "row">
		<div class = "guide-tour-details">
			<div class = "col-md-4 col-xs-12">
				<div class = "guide-body-title">
					<h2>集合場所</h2>
				</div>
			</div>
			<div class = "col-md-8 col-xs-12">
				<div class = "tour-body-wrapper">
					<h4 class = "guide-body-text">
						<%= tour.meetingpoint_address %><br/>
						<%= tour.meetingpoint_introduction %>
					</h4>
					<!----- GoogleMap ----->
					<div id="map"></div>
					<style>
					    #map {
					    height: 500px;
					    width: 70%;
						}
					</style>
					<script>
					function initMap() {
					    var uluru = {lat: <%= tour.latitude %>, lng: <%= tour.longitude %>};
					    var map = new google.maps.Map(document.getElementById('map'), {
					    	zoom: 16,
					    	center: uluru
					    });
					    var marker = new google.maps.Marker({
					    	position: uluru,
					    	map: map
						});
					}
					</script>
					<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLEMAP'] %>&callback=initMap"
					async defer></script>
				</div>
			</div>
		</div>
	</div>




<%# ----------- レビュー一覧 ------------　%>
	<div class = "row">
		<div class = "guide-tour-details">
			<div class = "col-md-4 col-xs-12">
				<div class = "guide-body-title">
					<h2>レビュー</h2>
				</div>
			</div>
			<div class = "col-md-8 col-xs-12">
					<div class = "tour-body-wrapper">
						<% if reviews.count == 0 %>
							<% if tourist_signed_in? %>
								<h3>予約して最初のレビュー投稿者になりましょう！</h3>
							<% else %>
								<h3>まだレビューはありません。</h3>
							<% end %>
						<% else %>
							<% reviews.each do |review| %>
								<div class = "review-message-box">
									<h5>
										<%= review.tourist.family_name %> <%= review.tourist.name %>さん
										: <%= review.created_at.to_s(:datetime_jp) %>
										<span>
											<% if admin_signed_in? %>
												<%= link_to "削除する", admin_review_path(review), method: :delete,  class: "btn btn-danger", data: {confirm:'このレビューコメントは不適切な内容を含んでいますか？本当に削除してよろしいですか？'} %>
											<% end %>
										</span>
									</h5>
									<h4 class = "guide-body-text">
										<%= review.comment %>
									</h4>
								</div>
							<% end %>
						<% end %>
					</div>
				</div>
		</div>
	</div>
</div>