<div class = "container">
	<div class = "row">
		<div class = "col-xs-4">
			<div class = "tour-img-1">
				<%= attachment_image_tag tour_photos[0], :image, :fill, 380, 400, format: 'jpeg', class: "tour-img" %>
			</div>
		</div>

		<div class = "col-xs-4">
			<div class = "row">
				<div class = "col-xs-6">
					<div class = "tour-img-2">
						<%= attachment_image_tag tour_photos[1], :image, :fill, 190, 190, format: 'jpeg', class: "tour-img" %>
					</div>
				</div>
				<div class = "col-xs-6">
					<div class = "tour-img-3">
						<%= attachment_image_tag tour_photos[2], :image, :fill, 190, 190, format: 'jpeg', class: "tour-img" %>
					</div>
				</div>
			</div>
			<div class = "row">
				<div class = "col-xs-12">
					<div class = "tour-img-4">
						<%= attachment_image_tag tour_photos[3], :image, :fill, 395, 200, format: 'jpeg', class: "tour-img" %>
					</div>
				</div>
			</div>
		</div>

		<div class = "col-xs-4">
			<div class = "tour-img-5">
				<%= attachment_image_tag tour_photos[4], :image, :fill, 200, 400, format: 'jpeg', class: "tour-img" %>
			</div>
		</div>
	</div>
</div>