<td><%= order.id %></td>
<td><%= order.tour_date.strftime("%Y-%m-%d %H:%M") %></td>
<td>
	<h4><%= order.tour_title %></h4>
	<h4>¥ <%= number_with_delimiter(order.tour_price) %></h4>
	<h4><%= order.tour_city %></h4>
	<h4><%= order.tour_genre %></h4>
</td>
<td class = "text-left">
	<h4>¥ <%= number_with_delimiter(order.tour_price) %> × <%= order.total_people %>名</h4>
	<h4> ＝ ¥ <%= number_with_delimiter(order.total_price) %></h4>
</td>
<td>
	<h3><%= link_to "ツアー詳細へ", tourist_tourist_tour_path(current_tourist, order.tour_id), class: "btn btn-default btn-lg" %>
	</h3>
</td>