<div class = "order-index-page">
	<% if @orders.count == 0 %>
		<div class = "container">
			<div class = "row">
				<%= link_to "もどる", tourist_tourist_path(current_tourist), class: "btn btn-default btn-lg col-md-2 col-md-offset-1 col-xs-3" %>
			</div>
			<div class = "row">
				<div class = "col-xs-9 col-xs-offset-1">
					<h1>まだ予約はありません。</h1>
				</div>
			</div>
		</div>
	<% else %>
		<div class = "container">
			<div class = "row">
				<h2><%= link_to "もどる", tourist_tourist_path(current_tourist), class: "btn btn-default btn-lg col-md-2 col-md-offset-1 col-xs-3" %></h2>
			</div>
			<ul class = "order-tab clearfix">
				<li class = "order-active">今後の予約</li>
				<li>過去の予約</li>
				<h3 class = "push-to-review">ガイドの応援のために過去の予約からレビューを投稿しましょう！</h3>
				<h3 class = "push-to-review-phoen-width">ガイドの応援のために</br>過去の予約からレビューを</br>投稿しましょう！</h3>
			</ul>
			<div class = "reserved-tour-box">
				<div class = "row">
					<% @orders.each do |order| %>
						<% unless order.status == "ツアー終了" or order.status == "レビュー済み" %>
							<div class = "col-md-4 col-xs-12">
								<div class = "reserved-tour clearfix">
									<% tour = Tour.find_by(id: order.tour_id) %>
									<%= attachment_image_tag tour.tour_photos[0], :image, :fill, 300, 280, format: 'jpeg', class: "order-tour-image" %>
									<div class = "order-tour-text">
										<h4><%= order.tour_city %></h4>
										<h4><%= order.tour_time %></h4>
									</div>
									<div class = "order-tour-link">
										<h3><%= link_to "予約確認へ", tourist_tourist_order_path(current_tourist, order), class: "btn btn-default btn-primary" %></h3>
										<h3><%= link_to "ツアー詳細へ", tourist_tourist_tour_path(current_tourist, order.tour_id), class: "btn btn-default btn-warning" %></h3>
									</div>
								</div>
							</div>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	<% end %>
</div>



