<div class = "order-show-page">
    <div class = "container">
        <div class = "row">
            <div class = "col-xs-8 co-xs-offset-2">
                <h1>予約詳細</h1>
            </div>
            <div class = "col-md-6 col-xs-12">
                <div class = "order-show-box">
                    <h2><%= @order.tour_title %></h2>
                    <h2><%= @order.tour_city %></h2>
                    <div class = "order-info-box">
                        <h3>ツアー日時</h3>
                        <h3><strong class = "text-right"><%= @order.tour_date.strftime("%Y-%m-%d %H:%M")  %></strong></h3>
                    </div>
                    <div class = "order-info-box">
                        <h3>ツアー概要</h3>
                        <h3>
                            担当ガイドは<%= @order.guide.name %>さん
                            <% tour = Tour.find_by(id: @order.tour_id) %>　
                        </h3>
                        <h3>
                            <% if @guide_ids.include?(tour.guide.id) %>
                                <%= link_to "質問しましょう！", tourist_tourist_room_path(current_tourist, current_tourist.rooms.find_by(guide_id: tour.guide.id)), class: "btn btn-lg btn-warning" %>
                            <% else %>
                                <%= form_for(Room.new, url: tourist_tourist_rooms_path(current_tourist)) do |f| %>
                                    <%= f.hidden_field :guide_id, :value => tour.guide.id %>
                                    <%= f.submit "質問しましょう！", class: "btn btn-lg btn-warning" %>
                                <% end %>
                            <% end %>
                        </h3>
                        <h3>ツアー時間：<strong class = "text-right"><%= @order.tour_time %></strong></h3>
                        <h3>ツアー価格：<strong class = "text-right"><%= @order.tour_price %></strong></h3>
                        <h3>価格に含まれるサービス</h3>
                        <h3><strong><%= @order.tour_contents_of_price %></strong></h3>
                    </div>
                    <div class = "order-info-box">
                        <h3>お支払い金額</h3>
                        <h3>¥<%= number_with_delimiter(@order.tour_price) %>　× <%= @order.total_people %>名　＝　<strong>¥<%= number_with_delimiter(@order.total_price) %></strong></h3>
                    </div>
                </div>
            </div>
            <div class = "col-md-6 col-xs-12">
                <% if @order.status == "ツアー終了" %>
                    <h2>レビュー投稿で応援しましょう！</br>（400文字以内）</h2>
                    <%= form_for(@review_new, url: tourist_tourist_tour_reviews_path(current_tourist, @order.tour_id, order_id: @order.id)) do |f| %>
                        <%= f.text_area :comment, class: "review-text-field" %>
                        <div>
                            <%= f.submit  "レビュー投稿", class: "btn btn-success btn-lg" %>
                        </div>
                    <% end %>
                <% elsif @order.status == "レビュー済み" %>
                    <h2>レビュー編集</br>（400文字以内）</h2>
                    <%= form_for(@review, url: tourist_tourist_tour_review_path(current_tourist, @order.tour_id, @review, order_id: @order.id)) do |f| %>
                        <%= f.text_area :comment, class: "review-text-field" %>
                        <%= f.submit  "レビュー投稿", class: "btn btn-success btn-lg" %>
                    <% end %>
                <% end %>
                <div class = "oreder-warning">
                    <h2>ツアー説明</h2>
                    <h4 class = "order-confirm-body"><%= @order.tour_body %></h4>
                </div>
				<div class = "oreder-warning">
					<h2>旅行する上での注意</h2>
					<h4>
						ツアーガイドから予約内容に記載されていないサービスを提供しようとして、金銭が発生する場合はトラブルの原因となりますのでお断り頂きますようにお願いいたします。
                        ツアー中に発生した盗難等のトラブルには一切責任を持ちません。
					</h4>
				</div>
				<div class = "oreder-warning">
					<h2>キャンセルポリシー</h2>
					<h4>
                        ツアー前日からのキャンセルはできません。キャンセルされる場合も予約内容に記載されている料金の100%を請求させていただきます。
                    </h4>
				</div>
                <% if @order.status == "ツアー開始前" %>
					<h3><%= link_to "キャンセルしますか？", tourist_tourist_order_path(current_tourist, @order), method: :delete,data: {confirm:'このツアーを本当にキャンセルしてもよろしいですか？ツアー前日だとキャンセル料が発生します。'}, class: "btn btn-danger btn-lg" %>
					</h3>
				<% else %>
					<h3>ツアー前日以降ですので、キャセルできません。</h3>
				<% end %>
            </div>
        </div>
    </div>
</div>