<div class = "application-wrapper">
  <div class = "container">
    <h3 class = "order-stauts-flash"><%= flash[:notice] %></h3>
    <div class = "row">
      <div class = "col-md-4 col-md-offset-2 col-xs-10 col-xs-offset-1">
        <table class = "table table-bordered">
          <tr>
            <th class = "active">
              <h3>総利益</h3>
            </th>
            <th>
              <h3>¥ <%= number_with_delimiter(@guide_total_sales) %></h3>
            </th>
          </tr>
        </table>
      </div>
    </div>
    <div class = "order-status-tab clearfix">
      <ul>
        <li>
          <%= link_to guide_guide_orders_path(current_guide, order_status: "just_in_orders"), class: "btn btn-default btn-lg" do %>
            本日入った予約
          <% end %>
        </li>
        <li>
          <%= link_to guide_guide_orders_path(current_guide, order_status: "current_orders"), class: "btn btn-default btn-lg" do %>
            現在の予約
          <% end %>
        </li>
        <li>
          <%= link_to guide_guide_orders_path(current_guide, order_status: "day_before_orders"), class: "btn btn-default btn-lg" do %>
            ツアー前日
          <% end %>
        </li>
        <li>
          <%= link_to guide_guide_orders_path(current_guide, order_status: "the_day_orders"), class: "btn btn-default btn-lg" do %>
            ツアー当日
          <% end %>
        </li>
        <li>
          <%= link_to guide_guide_orders_path(current_guide, order_status: "finished_orders"), class: "btn btn-default btn-lg" do %>
            過去の予約
          <% end %>
        </li>
      </ul>
    </div>


  <%# ---- 今日入った予約 ---- %>
    <div class = "row">
      <% if @order_status == "just_in_orders" %>
        <h2 class = "col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-2">本日入った予約</h2>
        <% @just_in_orders.each do |order| %>
          <%= render 'index', order: order %>
        <% end %>

      <% elsif @order_status == "current_orders" %>
        <h2 class = "col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-2">現在の予約</h2>
        <% @current_orders.each do |order| %>
          <%= render 'index', order: order %>
        <% end %>

      <% elsif @order_status == "day_before_orders" %>
        <h2 class = "col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-2">ツアー前日</h2>
        <% @day_before_orders.each do |order| %>
          <%= render 'index', order: order %>
        <% end %>

      <% elsif @order_status == "the_day_orders" %>
        <h2 class = "col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-2">ツアー当日</h2>
        <% @the_day_orders.each do |order| %>
          <%= render 'index', order: order %>
        <% end %>
      <% elsif @order_status == "finished_orders" %>
        <h2 class = "col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-2">過去の予約</h2>
        <% @finished_orders.each do |order| %>
          <%= render 'index', order: order %>
        <% end %>
        <% @reviewed_orders.each do |order| %>
          <%= render 'index', order: order %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


