<div class = "contaienr">
	<div class = "row">
		<div class = "col-xs-8 col-xs-offset-2">
			<h2 class = "flash"><%= flash[:notice] %></h2>
			<h1>管理者トップ画面</h1>
			<h2 class = "admin-home-text">
				本日のお問い合わせ
				<%= link_to admin_contacts_path do %>
					<%= Contact.where(created_at: Time.zone.now.all_day).count %> 件
				<% end %>
			</h2>
			<h2 class = "admin-home-text">
				本日入った予約数
				<%= link_to admin_orders_path do %>
					<%= @day_of_orders_count  %> 件
				<% end %>
			</h2>
			<%= render 'admin/orders/index', day_of_orders: @day_of_orders, total_sales: @total_sales, day_of_total_sales: @day_of_total_sales  %>
		</div>
  	</div>
</div>

