<div class = "container">
	<div class = "row">
    <div class = "guide-edit-title">
      <div class = "col-md-3 col-md-offset-1 col-xs-12">
        <h1>登録情報編集</h1>
      </div>
      <div class = "col-md-6 col-xs-12">
        <h3>全項目を登録してツアーを投稿しましょう！</h3>
      </div>
    </div>
	</div>
  <% if @guide.errors.any? %>
	  <div id = "error_explanation">
	  	<h2><%= @guide.errors.count %>件のエラーが発生しました。</h2>
	  	<ul>
		    <% @guide.errors.full_messages.each do |message| %>
		    	<li><%= message %></li>
		    <% end %>
	  	</ul>
	  </div>
	<% end %>
  <div class = "row">
    <%= form_for(@guide, url: guide_guide_path(current_guide)) do |f| %>
      <div class = "col-md-12">
        <div class = "guide-show-phone-width">
          <div class = "guide-info-text">
            <h4>姓</h4>
            <%= f.text_field :family_name, class: "guide-edit-field" %>
          </div>
          <div class = "guide-info-text">
            <h4>名</h4>
            <%= f.text_field :name, class: "guide-edit-field" %>
          </div>
          <div class = "guide-info-text">
            <h4>国籍</h4>
            <%= f.text_field :nationality, class: "guide-edit-field" %>
          </div>
          <div class = "guide-info-text">
            <h4>郵便番号</h4>
            <%= f.text_field :postal_code, class: "guide-edit-field" %>
          </div>
          <div class = "guide-info-text">
            <h4>住所</h4>
            <%= f.text_field :address, class: "guide-edit-field" %>
          </div>
          <div class = "guide-info-text">
            <h4>電話番号</h4>
            <%= f.text_field :phone_number, class: "guide-edit-field" %>
          </div>
          <div class = "guide-info-text">
            <h4>メールアドレス</h4>
            <%= f.text_field :email, class: "guide-edit-field" %>
          </div>
          <div class = "guide-info-text">
            <h4>あなたの写真</h4>
            <%= f.attachment_field :selfy_image %>
          </div>
          <div class = "guide-info-text">
            <h4>身分証明書</h4>
            <%= f.attachment_field :identification_image %>
          </div>
          <div class = "guide-info-text">
            <h4>自己紹介（400文字）</h4>
            <%= f.text_area :introduction, class: "GuideEditTextArea" %>
            <div class="GuideEditTextAreaCount"></div>
            <%= f.submit  "編集", class: "btn btn-success btn-lg guide-edit-btn", data: {confirm:'こちらの内容で更新しますか？'} %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'guide_edit_text.js' %>