<div class = "container">
  <div class = "row">
    <div class = "col-md-12">
      <div class = "guide-show-phone-width">
        <%= attachment_image_tag @guide, :selfy_image, :fill, 250, 200, format: 'jpeg', class: "guide-phone-selfy-image" %>
        <div class = "guide-button-to-edit">
          <%= link_to "登録情報編集へ", edit_guide_guide_path(@guide), class: "btn btn-success btn-lg guide-to-edit-btn" %>
        </div>
        <div class = "guide-info-text">
          <h4>お名前</h4>
          <h3><%= @guide.family_name %>  <%= @guide.name %></h3>
        </div>
        <div class = "guide-info-text">
          <h4>国籍</h4>
          <h3><%= @guide.nationality %></h3>
        </div>
        <div class = "guide-info-text">
          <h4>郵便番号</h4>
          <h3><%= @guide.postal_code %></h3>
        </div>
        <div class = "guide-info-text">
          <h4>住所</h4>
          <h3><%= @guide.address %></h3>
        </div>
        <div class = "guide-info-text">
          <h4>電話番号</h4>
          <h3><%= @guide.phone_number %></h3>
        </div>
        <div class = "guide-info-text">
          <h4>メールアドレス</h4>
          <h3><%= @guide.email %></h3>
        </div>
        <div class = "guide-info-text">
          <h4>身分証明書</h4>
          <%= attachment_image_tag @guide, :identification_image, :fill, 280, 200, format: 'jpeg', class: "guide-phone-identification-image" %>
        </div>
        <div class = "guide-info-text">
          <h4>自己紹介</h4>
          <h3><%= @guide.introduction %></h3>
        </div>
      </div>
    </div>
  </div>
  <div class = "row">
    <div class = "your-tour-phone-width">
      <h3>あなたが提供しているツアー</h3>
        <% @tours.each do |tour| %>
          <div class = "col-md-4">
            <div class = "guide-tour-info-box">
              <%= attachment_image_tag tour.tour_photos[0], :image, :fill, 300, 300, format: 'jpeg',class: "your-tour-photo" %>
              <h4><%= tour.title %></h4>
              <h4>￥<%= tour.price %></h4>
              <h4><%= tour.time %></h4>
              <%= link_to "紹介ページ", guide_guide_tour_path(current_guide, tour), class: "btn btn-warning guide-tour-btn" %>
              <%= link_to "編集", edit_guide_guide_tour_path(current_guide, tour), class: "btn btn-success guide-tour-btn" %>
              <%= link_to "削除", guide_guide_tour_path(current_guide, tour), method: :delete, data: {confirm:'このツアーを削除してよろしいですか？。'}, class: "btn btn-danger" %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
