<!----- ツアー写真 ----->
<div class = "tour-image-wrapper">
	<% if @book_marks.count == 0 %>
		<span class = "book_mark">
			<span class = "book-mark-count"><%= @book_marks.count %></span>
			<i class="fa fa-flag fa-5x" aria-hidden="true" style = "color: white;" ></i>
		</span>
	<% else %>
		<span class = "book_mark">
			<span class = "book-mark-count"><%= @book_marks.count %></span>
			<i class="fa fa-flag fa-5x" aria-hidden="true" style = "color: red;" ></i>
		</span>
	<% end %>
	<%= render 'partial/tour_image_wrapper', tour_photos: @tour_photos %>
</div>

<!------- ツアー情報 -------->
<div class = "tour-info-wrapper">
	<%= render 'partial/tour_info_wrapper', tour: @tour %>
</div>


<!-- ツアー情報詳細） -->
<div class = "tour-detail-wrapper">
	<%= render 'partial/tour_detail_wrapper', tour: @tour, reviews: @reviews %>
</div>

<%= javascript_pack_tag 'tour_show.js' %>