<div class = "room-wrapper">
	<div class = "container">
		<div class = "row">
			<div class = "col-xs-8">
				<% if @room.chats.count == 0 %>
					<h3>まだメッセージはありません</h3>
				<% else %>
					<h3><%= @guide %>さんとのチャットルーム</h3>
				<% end %>
				<h3 class = "vacant-chat"><%= flash[:warning] %></h3>
				<div class = "chat-field">
                    <% @chats.each do |chat| %>
                    <%# ------- メッセージがtouristによるものだったら、メッセージを右に寄せる -------- %>
                        <% if chat.is_tourist %>
                            <div class = "text-right  bg-info">
                                <h4 class = "chat"><%= chat.message %>  :<%= current_tourist.name %>さん</h4>
                                <span class = "chat-time">（<%= chat.created_at.to_s(:datetime_jp) %>）</span>
                            </div>

                    <%# ------- メッセージがguideによるものだったら、メッセージを左に寄せる -------- %>
                        <% else %>
                            <div class = "text-left  bg-warning">
                                <h4 class = "chat"><%= @guide %>さん:  <%= chat.content %></h4>
                                <span class = "chat-time">（<%= chat.created_at.to_s(:datetime_jp) %>）</span>
                            </div>
                        <% end %>
				    <% end %>
				</div>
			</div>
		</div>
	</div>

<%# ------- メッセージ送信 -------- %>
	<div class = "chat-form-field">
		<div class = "contaienr">
			<div class = "row">
				<div class = "col-xs-4 col-xs-offset-8">
					<div class = "btn-to-rooms">
						<%= link_to "チャット一覧へ戻る", tourist_tourist_rooms_path(current_tourist), class: "btn btn-warning" %>
					</div>
					<div class = "chat-form">
						<%= form_for [@room, @chat], url: tourist_tourist_room_chats_path(current_tourist, @room) do |f| %>
							<%= f.text_field :message %>
						 	<%= f.submit "メッセージを送る", class: "btn btn-success"%>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>