<!DOCTYPE html>
<html>
  <head class = "sticky-top">
    <title>FANTRA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <nav>
      <% if admin_signed_in? %>
        <%= link_to "FANTRA", admin_home_top_path, class: "logo" %>
      <% elsif guide_signed_in? %>
        <%= link_to "FANTRA", guide_home_top_path, class: "logo" %>
      <% elsif tourist_signed_in? %>
        <%= link_to "FANTRA", tourist_tours_path, class: "logo" %>
      <% else %>
        <%= link_to "FANTRA", root_path, class: "logo" %>
      <% end %>

      <% if admin_signed_in? %>
        <ul>
          <li>
            <%= link_to "都市", admin_cities_path %>
          </li>
          <li>
            <%= link_to "ジャンル", admin_genres_path %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
          </li>
        </ul>
      <% elsif guide_signed_in? %>
        <ul>
          <li>
            <%= link_to new_guide_tour_path do %>
              <i class="fas fa-file-signature fa-2x"></i>
              ツアー投稿
            <% end %>
          </li>
          <li>
            <%= link_to destroy_guide_session_path, method: :delete do %>
              <i class="fas fa-sign-out-alt fa-2x"></i>
              ログアウト
            <% end %>
          </li>
        </ul>
      <% elsif tourist_signed_in? %>
        <ul>
          <li>
            <%= link_to "ログアウト", destroy_tourist_session_path, method: :delete %>
          </li>
        </ul>
      <% else %>
        <ul>
          <li>
              <%= link_to guide_session_path do %>
                <i class="fas fa-hiking fa-2x"></i>
                ガイドログイン
              <% end %>
          </li>
          <li>
              <%= link_to tourist_session_path do %>
                <i class="fas fa-suitcase-rolling fa-2x"></i>
                ツーリストログイン
              <% end %>
          </li>
        </ul>
      <% end %>
    </nav>
  </header>
    <%= yield %>
  </body>
</html>
