<!DOCTYPE html>
<html>
  <head>
    <title>FANTRA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <nav>
      <%= link_to "FANTRA", admin_home_top_path, class: "logo" %>
      <% if admin_signed_in? %>
        <ul>
          <li>
            <%= link_to "都市", admin_genres_path %>
          </li>
          <li>
            <%= link_to "ジャンル", admin_cities_path %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
          </li>
        </ul>
      <% end %>
    </nav>
  </header>
    <%= yield %>
  </body>
</html>
