<!DOCTYPE html>
<html>
  <head class = "sticky-top">
    <title>FANTRA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <nav>
      <%# ---- AdminのFANTRAロゴ ---- %>
      <% if admin_signed_in? %>
        <%= link_to "FANTRA", admin_home_top_path, class: "logo" %>

      <%# ---- GuideのFANTRAロゴ ---- %>
      <% elsif guide_signed_in? %>
        <%= link_to "FANTRA", guide_guide_home_top_path, class: "logo" %>

      <%# ---- ToursitのFANTRAロゴ・都市検索窓 ---- %>
      <% elsif tourist_signed_in? %>
        <%= link_to "FANTRA", tourist_tourist_tours_path(current_tourist), class: "logo" %>
        <span class = "header-city-search">
          <%= form_tag(tourist_tourist_searches_city_path(current_tourist), method: :get) do %>
            <%= text_field_tag 'search[city]' %>
            <%= button_tag '<i class="fa fa-search"></i>ツアー都市'.html_safe, :type => "submit",:class =>"btn btn-default" %>
          <% end %>
        </span>

      <%# ---- 非ログイン時のFANTRAロゴ ---- %>
      <% else %>
        <%= link_to "FANTRA", root_path, class: "logo" %>
      <% end %>



      <%# ---- Adminログイン時のheader ---- %>
      <% if admin_signed_in? %>
        <ul>
          <li>
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
          </li>
        </ul>

      <%# ---- Guideログイン時のheader ---- %>
      <% elsif guide_signed_in? %>
        <ul>
          <li>
            <%= link_to guide_guide_tours_path(current_guide) do %>
              <i class="fas fa-plane-departure fa-2x"></i>
                ツアー一覧
            <% end %>
          </li>
          <li>
            <%= link_to new_guide_guide_tour_path(current_guide) do %>
              <i class="fas fa-file-signature fa-2x"></i>
              ツアー投稿
            <% end %>
          </li>
          <li>
            <%= link_to destroy_guide_session_path, method: :delete do %>
              <i class="fas fa-sign-out-alt fa-2x"></i>
              ログアウト
            <% end %>
          </li>
        </ul>

      <%# ---- Touristログイン時のheader ---- %>
      <% elsif tourist_signed_in? %>
        <ul>
          <li>
            <%= link_to "ログアウト", destroy_tourist_session_path, method: :delete %>
          </li>
        </ul>

      <%# ---- 非ログイン時のheader ---- %>
      <% else %>
        <ul>
          <li>
              <%= link_to guide_session_path do %>
                <i class="fas fa-hiking fa-2x"></i>
                ガイドログイン
              <% end %>
          </li>
          <li>
              <%= link_to tourist_session_path do %>
                <i class="fas fa-suitcase-rolling fa-2x"></i>
                ツーリストログイン
              <% end %>
          </li>
        </ul>
      <% end %>
    </nav>
  </header>
    <%= yield %>
  </body>
</html>
